<div class="flex w-full justify-between py-2">
  <div class="flex items-center gap-2">
    <img
      src="https://placebeard.it/640x360"
      class="h-[45px] w-[45px] rounded-full"
    />
    <div>
      <h1 class="text-xl font-bold">William N' Bakerz</h1>
      <p class="text-gray-400">2 days ago</p>
    </div>
  </div>
  <div>
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
      class="feather feather-more-vertical"
    >
      <circle cx="12" cy="12" r="1"></circle>
      <circle cx="12" cy="5" r="1"></circle>
      <circle cx="12" cy="19" r="1"></circle>
    </svg>
  </div>
</div>
