<div class="flex w-full justify-between">
  <div class="gap-2 flex flex-col">
    <h1 class="text-2xl font-bold">Products</h1>
    <p class="text-gray-400 text-lg">Manage your products</p>
  </div>
  <div class="flex items-center gap-4">
    <button
      class="flex gap-4 bg-blue-500 py-3 px-3 rounded-md text-white items-center"
    >
      <!-- https://feathericons.dev/?search=plus&iconset=feather -->
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
        width="20"
        height="20"
        class="main-grid-item-icon"
        fill="none"
        stroke="currentColor"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
      >
        <line x1="12" x2="12" y1="5" y2="19" />
        <line x1="5" x2="19" y1="12" y2="12" />
      </svg>

      <h1>Add</h1>
    </button>
    <button
      class="flex gap-4 bg-white py-3 px-3 rounded-md border border-gray-300"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
        width="24"
        height="24"
        class="main-grid-item-icon"
        fill="none"
        stroke="currentColor"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
      >
        <path d="M21 15v4a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-4" />
        <polyline points="7 10 12 15 17 10" />
        <line x1="12" x2="12" y1="15" y2="3" />
      </svg>
      upload from pdf
    </button>
  </div>
</div>
