<div
  class="gap-4 whitespace-nowrap overflow-x-auto w-screen pb-4 lg:pb-8 wrapper"
>
  <app-product-category
    class="inline-block mr-4"
    category="Best Sellers"
  ></app-product-category>
  <app-product-category
    class="inline-block mr-4"
    category="New Arrivals"
  ></app-product-category>
  <app-product-category
    class="inline-block mr-4"
    category="Trending"
  ></app-product-category>
  <app-product-category
    class="inline-block mr-4"
    category="Deals"
  ></app-product-category>
  <app-product-category
    class="inline-block mr-4"
    category="Discounts"
  ></app-product-category>
  <app-product-category
    class="inline-block mr-4"
    category="Clearance"
  ></app-product-category>
  <app-product-category
    class="inline-block mr-4"
    category="Gifts"
  ></app-product-category>
  <app-product-category class="inline-block mr-4" category="Gift Cards">
  </app-product-category>
  <app-product-category class="inline-block mr-4" category="Gift Ideas">
  </app-product-category>
</div>
