<app-product-comment></app-product-comment>
<div class="ml-10">
  <button
    class="mt-4 text-[13px] text-sky-400 mb-5 font-bold flex items-center"
  >
    View all 124 comments
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="18"
      height="18"
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
      class="feather feather-chevron-down inline ml-2"
    >
      <polyline points="6 9 12 15 18 9"></polyline>
    </svg>
  </button>
  <app-product-comment></app-product-comment>
</div>

<app-product-new-comment></app-product-new-comment>
