<app-navbar></app-navbar>
<div class="h-screen py-4">
  <div class="justify-center flex gap-10 wrapper flex-shrink">
    <div class="hidden lg:block">
      <app-sidebar-filters></app-sidebar-filters>
    </div>
    <div class="flex flex-col gap-5 w-full lg:w-[65%]">
      <app-product-categories></app-product-categories>
      <app-product-post></app-product-post>
      <app-product-post></app-product-post>
      <app-product-post></app-product-post>
      <app-product-post></app-product-post>
      <app-product-post></app-product-post>
    </div>
  </div>
  <div>
    <app-footer></app-footer>
  </div>
</div>
