<div>
  <div
    class="tabs flex justify-start cursor-pointer gap-5 text-gray-500 border-b mb-7"
  >
    <h1
      (click)="setTab('overview')"
      [ngClass]="{ 'active-tab': isTabActive('overview') }"
    >
      Overview
    </h1>
    <h1
      (click)="setTab('reports')"
      [ngClass]="{ 'active-tab': isTabActive('reports') }"
    >
      Reports
    </h1>
    <h1
      (click)="setTab('inventory')"
      [ngClass]="{ 'active-tab': isTabActive('inventory') }"
    >
      Inventory
    </h1>
  </div>
  <div>
    <app-product-filter></app-product-filter>
  </div>
  <div *ngIf="isTabActive('overview')">
    <app-product-inventory></app-product-inventory>
    <app-product-inventory-info></app-product-inventory-info>
    <app-product-inventory-info></app-product-inventory-info>
    <app-product-inventory-info></app-product-inventory-info>
    <app-product-inventory-info></app-product-inventory-info>
    <app-product-inventory-info></app-product-inventory-info>
  </div>
  <div *ngIf="isTabActive('reports')" class="text-center py-5">
    product Report content
  </div>
  <div *ngIf="isTabActive('inventory')" class="text-center py-5">
    product inventory content
  </div>
</div>
